IPDP/.ipynb_checkpoints/
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_02DataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_01ConsoleIOandVariables-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/HelloWorld-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
IPDP/slides/01introduction.aux
IPDP/slides/01introduction.log
IPDP/slides/01introduction.nav
IPDP/slides/01introduction.out
IPDP/slides/01introduction.snm
IPDP/slides/01introduction.synctex.gz
IPDP/slides/01introduction.toc
IPDP/slides/01introductiAon.vrb
*.aux
~$neralCalendar.docx
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/stdout-checkpoint.txt
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02AssignmentsDataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/stdout.txt
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02AssignmentsDataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02AssignmentsDataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02AssignmentsDataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05AssignmentsFunctions-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02AssignmentsDataTypesAndOperations-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/05_old_WordCloudCovid-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_04ControlAndRepetitionStatements-checkpoint.ipynb
IPDP/jupyter/jupyterNotebooks/csv/covid19/.ipynb_checkpoints/dpc-covid19-ita-andamento-nazionale_26_02_2021-checkpoint.csv
IPDP/slides/01introduction.vrb
